@model IEnumerable<Spring19Test.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Customer.fullName)*@
            Customer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.fullName)
        </td>
        <td>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.description))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderID })
        </td>
    </tr>
}

</table>
