@model IEnumerable<Spring19Test.Models.OrderDetail>

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.orderInfo)
            @*@Html.DisplayNameFor(model => model.Order.orderID)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.productInfo)
            @*@Html.DisplayNameFor(model => model.Product.productID)*@
        </th>

        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.orderInfo)
            @*@Html.DisplayFor(modelItem => item.Order.orderID)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.productInfo)
            @*@Html.DisplayFor(modelItem => item.Product.productID)*@
        </td>

        <td  class="text-right">
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.extPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
