@model Spring19Test.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Supplier.name)*@
            Supplier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
